<!-- header.component.html -->
<header>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/sintomas">Sintomas</a></li>
      <li><a routerLink="/prevencao-e-tratamento">Prevenção e tratamento</a></li>
      <img src="https://media.discordapp.net/attachments/1084904133674406000/1222437101383974972/Logotipo.png?ex=66163644&is=6603c144&hm=e229536344c9f2a57c2cb9c7d2e7a52e35c8d17b04b43ea5f9b037d16422198c&=&format=webp&quality=lossless&width=976&height=696">
      <li><a routerLink="/galeria">Galeria</a></li>
      <li><a routerLink="/dados-e-estatisticas">Dados e Estatísticas</a></li>
      <li><a class="quiz-button" href="#">Quiz</a></li>
    </ul>
  </header> 
