main{
    margin-top: 180px;
  }
.banner-container {
  position: relative; /* Alterado para posição relativa para ajustar o posicionamento do banner */
  margin-top: 20px; /* Ajusta a margem superior do banner */
  text-align: center; /* Centraliza horizontalmente o conteúdo dentro do banner-container */
}

.banner {
  width: 100%;
  max-width: 600px; /* Define uma largura máxima para o banner */
  height: auto; /* Permite que a altura seja ajustada automaticamente, mantendo a proporção */
}

h1 {
    color: #000;
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
    text-align: center;
  }
  
  h2 {
    color: #666;
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 10px 0;
    text-align: center;
  }